.profesional_plans{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profesional_plans h1 {
    font-size: 4em;
    letter-spacing: -3px;
}
.program_info {
    display: flex;
    align-items: center;
}

.program_info ul{
    font-size: 1.35em;
    list-style-type: circle;
    color: rgba(255, 255, 255, 0.692);
}

.grid{
    display: flex;
    gap: 10px;
}

.grid_template{
    position: relative;
    border-bottom: 1px solid white;
    padding: 30px;
    font-size: 1.35em;
    margin-bottom: 50px;
    width: 250px;
    text-align: center;
}

.grid_template::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: 1px solid white;
    bottom: -10px;
    right: 50%;
}

.about_template{
    display: flex;
    margin-top: 200px;
}

.about_img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.about_img img {
    width: 700px;
}

.about_section{
    width: 50%;
    padding: 20px;
    
}

.about_section h1 {
    width: 500px;
    text-align: right;
    padding: 100px;
}

.about_section h1 span {
    color: #ff4a38;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.about_section p {
    font-size: 1.35em;
    margin-left: 100px;
}


.about_section button {
    padding: 25px;
    font-size: 2em;
    background-color: #ff4a38;
    color: white;
    border: none;
    cursor: pointer;
    margin: 120px;
}

.about_section button:hover {
    border: 1px solid #ff4a38;
    background: none;
}

.programs_section {
    width: 100%;
    padding: 30px;
    display: flex;
    margin-top: 200px;
}

.training_tempalte {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.programs {
    width: 420px;
    height: 700px;
    cursor: pointer;
    background-image: url(../assets/images/test_img.jpg);
    background-size: cover;
    background-position: center;
    transition: all .2s ease-out;
    position: relative;
}
.layout {
    width: 100%;
    height: 100%;
}

.showing_line{
    width: 100%;
    height: 50px;
    background-color: #ff4a38;
    position: absolute;
    top: 50%;
    font-size: 1.70em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    opacity: .7;
}   

.showing_line span {
    transition: all .2s ease-out;
}

.layout:hover{
    backdrop-filter: blur(2px);
}


.programs:hover > .showing_line span{
    margin-top: -100px;
} 


.programs:hover{
    background-size: 150%;
}