.footer_container {
    width: 100%;
    height: auto;
}

.information_board_grid {
    width: 100%;
    padding: 200px 40px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.information_board_grid h1 {
    font-size: 1.35em;
}

.map_container {
    width: 100%;
    margin-right: 100px;
}

.mapouter iframe {
    width: 100%;
    height: 40vh;
    margin-right: 30px;
}
