.Header {
    width: 100vw;
    background: linear-gradient(270deg, rgba(4,0,15,1) 0%, rgba(19,0,51,1) 77%);
    color: #ffffff8a;
}

.Header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0px;
}

.Header nav .logo{
    width: 16%;
}
.Header nav ul {
    font-size: 1em;
}

.navigations{
    display: flex;
    align-items: center;
}



.Header nav ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 40px;
    cursor: pointer;
    border-right: 1px dashed #ffffff8a;
    padding-right: 20px;
    height: 30px;
    transition: all .4s;
}

.Header nav ul li:hover {
    color: rgb(255, 196, 0);
    border-right: 1px solid rgb(255, 196, 0);
}

.profile_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.profile_icon:hover {
    color: white;
}



.profile_icon span {
    font-size: .8em;
}

.profile_icon i {
    font-size: 1.25em;
}

.search_icon{
    font-size: 1.8em;
    cursor: pointer;
}

.search_icon:hover {
    color: white;
}

