.transforms_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.trasform_description {
    width: 40%;
    height: 50vh;
}


.trasform_description h1 {
    font-size: 4em;
}

.trasform_description p {
    font-size: 2em;
}

.trasform_description button {
    font-size: 2em;
    background-color: #ff4a38;
    border: none;
    color: white;
    font-weight: 100;
    cursor: pointer;
    margin-top: 70px;
    transition: all .3s;
    width: 300px;
    height: 100px;
}

.transform_slider{
    width: 60%;
    height: 50vh;
}